<?xml version="1.0" ?>
<launch>
  <arg name="nodelet_mode" default="load"/>
  <node pkg="nodelet" type="nodelet" name="aeplanner_nodelet_manager"  args="manager" output="screen"/>
  <node pkg="nodelet" type="nodelet" name="AEPlannerNodelet" args="$(arg nodelet_mode) aeplanner/AEPlannerNodelet aeplanner_nodelet_manager" output="screen">
    <remap from="pointcloud" to="/sonar_point_cloud"/>
    <remap from="agent_pose" to="/oceansim/robot/pose"/>
  </node>
</launch>
